[user]
  email = mail@danijar.com
  name = Danijar Hafner
[push]
  default = current
[pull]
  rebase = true
[rebase]
  autostash = true
[alias]
  append = commit --amend --no-edit
  reword = commit --amend
  list = log --name-only
  wip = !git add -A && git commit -m 'WIP' && git show
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
