#!/bin/sh

################################################################
# User defined startup script.
################################################################

# Load Xorg resources.
[ -f ~/.Xresources ] && xrdb -all -load ~/.Xresources

# Source startup scripts.
for script in ~/startup/*; do
    . $script;
done
