#!/bin/sh

# Load Xorg configuration.
[[ -f ~/.Xresources ]] && xrdb -all -load ~/.Xresources

# Expose Xresources as environment variables.
. ~/bin/colors.sh

# Keyboard layout and bindings.
~/bin/keyboard.sh &

# Background applications.
~/bin/startup.sh &
