! Apply changes in this file with `xrdb ~/.Xresources`
#include ".Xresources.d/zenburn-custom.xresources"
#include ".Xresources.d/base-colors.xresources"
#include ".Xresources.d/urxvt.xresources"
#include ".Xresources.d/font.xresources"
